* {box-sizing: border-box;
}

body {
    font-family: Arial, Geneva, Verdana, sans-serif, 'Courier New';
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    text-align: center;
    background-color: #ffffff
  }

  /* @media only screen and (max-width: 600px) {
    /* Estilos para pantallas pequeñas (móviles) */
    /* ... */

  /*} */

  @import url('https://fonts.googleapis.com/css2?family=Dancing Script');


  img {
    max-width: 100%;
    height: auto; /* Mantener la proporción de la imagen */
  }

  .container {
    
    font-size: 1.5rem;  
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  header {
    background-color: #ffffff;
    /*background-image:url('../img/Invit_wed\ \(5\).jpg') ;*/
    background-position: center center ;
    background-size: 100%;
    /*padding: 20px;*/
    text-align: center;
    align-items: center;
  }

  .cuenta-regresiva {
    text-align: center;
    font-size: 1.8em;
    font-weight: 100;
    margin-bottom: 50px;
  }
  
  
  .icono{
    align-items: center;
    padding: 10px;
    max-width: 10vw;
  }
  

  .info, .dresscode,.asistencia{
    background-color: #87C4FF;
    color: #164863;
  }

  h12{ 
    font-family: 'Pacifico','Dancing Script','Kunstler Script','Palace Script MT','Brush Script MT';
    font-weight: 5;
  }
  h13{ 
    font-family: 'Satisfy','Dancing Script','Kunstler Script','Palace Script MT','Brush Script MT';
    font-weight: 5;
  }

  h14{ 
    font-family: 'Great Vibes','Dancing Script','Kunstler Script','Palace Script MT','Brush Script MT';
    font-weight: 5;
  }
  h15{ 
    font-family: 'Kaushan Script','Dancing Script','Kunstler Script','Palace Script MT','Brush Script MT';
    font-weight: 5;
  }
  h16{ 
    font-family: 'Tangerine','Dancing Script','Kunstler Script','Palace Script MT','Brush Script MT';
    font-weight: 5;
  }
  h17{ 
    font-family: 'Great Vibes','Dancing Script','Kunstler Script','Palace Script MT','Brush Script MT';
    font-weight: 5;
  }

  h2,h4,cursiva { 
    font-size: 1rem;
    color: #000000;
    font-family: 'Dancing Script','Kunstler Script','Palace Script MT','Brush Script MT';
    font-weight: 5;
  }
  
  h9{
    font-size: 1.8rem;
    color: #000000;
  }
  h3, h5{
    font-size: 1.8rem;
    color: #164863;
  }

  .row{
    justify-content: space-evenly;
  }
  /* Clear floats after the columns */
  .row:after {
    content: '';
    display: table;
    clear: both;
  }
    /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    max-width: 50vw;
    padding: 10px;
  }

  .column img {
    margin-top: 12px;
    max-height: 10%;
    border-radius: 10px
  }




  .gallery {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start; /* Ajusta esto según tus preferencias */
  }

  .gallery-item {
    width: 48%; /* Ajusta el ancho según tus necesidades */
    margin-bottom: 12px;
    /*box-sizing:  border-box; /* Asegura que el padding y el borde se incluyan en el ancho especificado */
  }
  
  .gallery-item img {
    width: 100%;
    border-radius: 10px; /* O cualquier otra propiedad de borde que desees */
  }
  .cbu {
    background-color: #ffffff;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start; /* Ajusta esto según tus preferencias */
  }

  .btn {
    background-color: #164863;
    border-radius: 30px;
    
    color: rgb(255, 255, 255);
    display: inline-block;
    
    font-size: 1.8rem;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 10px 40px;
    text-decoration: none; 
    transition: background-color 0.5s ease;
    vertical-align: middle;
  }

  .active, .collapsible:hover, .btn:hover {
    background-color: #427D9D;
  }
  .collapsible {
    background-color: #164863;
    border-radius: 30px;
    
    color: rgb(255, 255, 255);
    display: inline-block;
    
    font-size: 1.5rem;
    font-weight: 3;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 10px 40px;
    text-decoration: none; 
    transition: background-color 0.8s ease;
    vertical-align: middle;
  }

  .content {
    text-decoration: none; 
    padding: 0 18px;
    background-color: #ffffff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  /* .asistencia {
    background-color: #164863;
    color:    #87C4FF;
    justify-content: space-evenly;
    align-content: center; 
  } 
  */

  .gracias{
    font-family: 'Vladimir Script','Dancing Script','Kunstler Script','Palace Script MT','Brush Script MT','Roboto','Verdana';
    
    text-align:center;

    background-color:#427D9D;
    
    font-size: 4.5rem;
    color: rgb(255, 255, 255);
  }

  footer {
    bottom: 0;
    color: rgb(153, 153, 153);
    padding: 10px;
    position: fixed;
    text-align: center;
    text-decoration: none;
  }


